Source: homegear-homematicbidcos
Maintainer: Sathya Laufer <sathya@laufers.net>
Section: misc
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 8), libhomegear-base (= <BASELIBVER>), libgcrypt20-dev, libgpg-error-dev (>= 1.10), libgnutls28-dev
Homepage: https://homegear.eu

Package: homegear-homematicbidcos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, homegear (= <BASELIBVER>), jq (>=1.5), bash (>=4.0)
Description: HomeMatic BidCoS module for Homegear
 Homegear is a program to interface your home automation software 
 with your smart home devices.
