#!/usr/bin/make -f

override_dh_auto_install:
	dh_auto_install

	mkdir -p $(CURDIR)/debian/homegear-homematicbidcos/etc/homegear/families
	cp -R $(CURDIR)/misc/Config\ Directory/* $(CURDIR)/debian/homegear-homematicbidcos/etc/homegear/families
	chmod 755 $(CURDIR)/debian/homegear-homematicbidcos/etc/homegear/families
	chmod 644 $(CURDIR)/debian/homegear-homematicbidcos/etc/homegear/families/*

	mkdir -p $(CURDIR)/debian/homegear-homematicbidcos/etc/homegear/devices/0
	cp $(CURDIR)/misc/Device\ Description\ Files/* $(CURDIR)/debian/homegear-homematicbidcos/etc/homegear/devices/0
	chmod 755 $(CURDIR)/debian/homegear-homematicbidcos/etc/homegear/devices/0
	chmod 644 $(CURDIR)/debian/homegear-homematicbidcos/etc/homegear/devices/0/*

	mkdir -p $(CURDIR)/debian/homegear-homematicbidcos/usr/share/homegear
	cp -R $(CURDIR)/misc/Data\ Directory/* $(CURDIR)/debian/homegear-homematicbidcos/usr/share/homegear
	chown -R root:root $(CURDIR)/debian/homegear-homematicbidcos/usr/share/homegear
	chmod -R 550 $(CURDIR)/debian/homegear-homematicbidcos/usr/share/homegear

	mkdir -p $(CURDIR)/debian/homegear-homematicbidcos/var/lib/homegear/admin-ui/translations/modules/homematicbidcos
	cp -R $(CURDIR)/misc/UI\ Translations/* $(CURDIR)/debian/homegear-homematicbidcos/var/lib/homegear/admin-ui/translations/modules/homematicbidcos
	chown -R root:root $(CURDIR)/debian/homegear-homematicbidcos/var/lib/homegear/admin-ui/translations/modules/homematicbidcos
	chmod -R 555 $(CURDIR)/debian/homegear-homematicbidcos/var/lib/homegear/admin-ui/translations/modules/homematicbidcos

override_dh_strip:
	dh_strip --dbg-package=homegear-homematicbidcos

%:
	dh $@ --parallel
